@charset "utf-8";

/*重置样式*/
body,html {
    margin:0;
    padding:0;
    font-family:AmpleSoft,Helvetica,Arial,sans-serif;
    background:#192242;
    color:#fff
}
body,body>div,html,html>div {
    min-height:100%
}
h1,h2,h3,h4,h5,h6 {
    font-family:AmpleSoft,Helvetica,Arial,sans-serif;
    font-weight:300
}
h1 {
    font-size:3rem;
    line-height:1
}
hr {
    display:inline-block;
    margin:1rem 0;
    width:80px;
    border: 2px #01d2b3;
}
p {
    font-size:1.2rem;
    color:#b8bedc;
    font-weight:200
}
a {
    color:#fff;
    text-decoration:none
}
* {
    box-sizing:border-box
}